<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <img src="../images/logo.webp" alt="Logo" class="logo__header" />
      <img
        src="../images/pesquisa-de-lupa.png"
        alt="Lupa"
        width="30px"
        height="30px"
        class="lupa__busca"
      />
      <div>
        <input type="text" />
        <button>Busca</button>
      </div>
    </header>
    <main>

      <form action="/users/criar" method="POST">
        <div class="cadastro">
          <h3>Cadastro</h3>
          <% if (typeof erro !== 'undefined') { %>
            <p><%= erro %></p>
            <% } %> 
          <p>
            Ja possui conta?
            <strong
              ><a href="/login" style="text-decoration: none"
                >Clique aqui</a
              ></strong
            >
          </p>
          <label for="">Usuario</label>
          <input type="text" placeholder="Usuario" name="usuario"/>
          <label for="">E-mail</label>
          <input type="text" placeholder="E-mail" name="email" />
          <label for="">Repita o e-mail</label>
          <input type="text" placeholder="Repita o e-mail" name="confirmarEmail" />
          <label for="">Senha</label>
          <input type="password" placeholder="Senha" name="senha" />
          <label for="">Repita a senha</label>
          <input type="password" placeholder="Repita a senha" name="confirmarSenha"/>
          <p>
            Ao clicar em “Criar Conta”, eu aceito que li e aceitei os Termos de
            Uso e Políticas de Privacidade
          </p>
          <button type="submit">Cadastrar</button>
        </div>
      </form>
    </main>
  </body>
</html>
