<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <img src="../images/logo.webp" alt="Logo" class="logo__header" />
      <img
        src="../images/pesquisa-de-lupa.png"
        alt="Lupa"
        width="30px"
        height="30px"
        class="lupa__busca"
      />
      <div>
        <input type="text" />
        <button>Busca</button>
      </div>
    </header>
    <main>
      <form action="/login" method="post">
        <div class="login">
          <h3>Login</h3>
          <label for="">E-mail</label>
          <input type="text" placeholder="E-mail" />
          <label for="">Senha</label>
          <input type="text" placeholder="Senha" />
          <p>
            Ao usar nosso site declaro que eu aceito que li e aceitei os Termos
            de Uso e Políticas de Privacidade
          </p>
          <button>Login</button>
          <p>Não tem uma conta?<a href="/">Crie uma aqui.</a></p>
        </div>
      </form>
    </main>
  </body>
</html>
