body {
  margin: 0 auto;
  padding: 0;
  font-family: 'barlow';
}

a:link, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  color:rgb(5, 9, 236)
}

button {
  border-radius: 10px;
  border: none;
  width: 5rem;
  height: 1.5rem;
}

button:hover{
  background-color: rgb(5, 9, 236);
  color: white;
}


header{
  padding: 1rem 0 0 10rem;
  display: flex;
  border-bottom: 1px solid gray;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
}

header input{
  height: 1rem;
  margin-left: 1rem;
  border-radius: 10px;
}

main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  
}

.lupa__busca{
  margin-left:  30rem;
}

.logo__header{
  margin-bottom: 1rem;
}

.isLoged{
  display: flex;
  margin-left: 2rem;
  align-items: center;
}

.logout{
  margin-left: 1rem;
}

.cadastro{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.5rem;
}

.cadastro input{
  border-radius: 10px;
  width: 40rem;
  height: 1.5rem;
}

.cadastro button{
  margin-top: 1rem;
}

.login{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
  width: fit-content;
  height: fit-content;
  background-color: rgb(200, 197, 203);
  border-radius: 10px;
  padding: 2rem;
}

.login input{
  border-radius: 10px;
  width: 40rem;
  height: 1.5rem;
}

.login button{
  margin-top: 1rem;
}

.main__frases{
  display: flex;
  flex-direction: column;
}

.titulo__frases{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lista__frases{
  display: flex;
}

.frases{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  height: 11rem;
  border: 1px solid grey;
  margin-bottom: 1rem;
  margin-right: 1rem;
  justify-content: center;
  border-radius: 10px;
}

.form__frases{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__frases input{
  width: 31rem;
  height: 12.5rem;
}

.form__post{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__post button{
  margin-top: 1rem;
}

.perfil{
  display: flex;
}